* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

body {
  height: 100vh;
  overflow: hidden;
}

/*-----------------------------------------------A-Propos----------------------------------------------*/
#a-propos-left-wrapper {
  position: absolute;
  top: 17.5vh;
  left: 10vw;
  height: 60vh;
  width: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#a-propos-title {
  position: relative;
  font-size: 5vw;
  font-family: reross-quadratic, sans-serif;
  font-style: normal;
  font-weight: normal;
}

#a-propos-paragraph {
  font-size: 1.5vw;
  font-family: "Gill sans mt condensed", serif;
  font-weight: 300;
  text-align: left;
}
#a-propos-paragraph :first-line {
  background-color: transparent;
  user-select: none;
}

#a-propos-a {
  text-decoration: none;
  color: #80BFBC;
}

#a-propos-download-wrapper {
  position: relative;
  height: 5vh;
  width: 22.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#a-propos-download-wrapper-one {
  position: relative;
  height: 100%;
  width: 60%;
}

#a-propos-download-wrapper-two {
  position: relative;
  height: 100%;
  width: 25%;
}

#a-propos-download-title {
  display: flex;
  font-size: 2vw;
  font-weight: 400;
  font-family: "Gill Sans MT Condensed", sans-serif;
  align-items: center;
  color: #80BFBC;
}

.download-image {
  position: relative;
  height: 80%;
  object-fit: cover;
  left: 1vw;
}

#a-propos-a {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.a-propos-image {
  height: 100%;
  object-fit: cover;
  background-size: cover;
}

#about-button-wrapper {
  position: relative;
  height: 6vh;
  width: 7.5vw;
  border-radius: 10vh;
  background: linear-gradient(100deg, #098491, #80BFBC);
}

#about-button {
  position: relative;
  top: 0.5vh;
  left: 0.25vw;
  height: 5vh;
  width: 7vw;
  background-color: white;
  border: none;
  border-radius: 10vh;
  outline: none;
  font-size: 1.75vw;
  font-family: Gill Sans mt Condensed, serif;
  color: #098491;
  transition: 0.6s;
}
#about-button:focus {
  outline: none;
}
#about-button:hover {
  background-color: transparent;
  transition: all 0.5s ease-in-out;
  color: white;
}

#a-propos-right-wrapper {
  position: absolute;
  top: 8vh;
  left: 50vw;
  height: 75vh;
  width: 45vw;
  display: flex;
  justify-content: center;
}

#software-title-wrapper {
  position: absolute;
  top: 74vh;
  left: 45vw;
  height: 5vh;
}

.software-title {
  font-size: 2.5vw;
  font-family: reross-quadratic, sans-serif;
  color: #80BFBC;
  font-weight: normal;
}

#software-arrow-wrapper {
  position: absolute;
  top: 82vh;
  left: 45vw;
  height: 13.5vh;
  width: 10vw;
}

#software-arrow {
  height: 100%;
  width: 100%;
}

#software-wrapper {
  position: absolute;
  bottom: 5vh;
  right: 8.5vw;
  height: 6.5vh;
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*# sourceMappingURL=a-propos.css.map */
