* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}

body {
    height: 100vh;
    overflow: hidden;
}

$firstColorWhite: rgb(255,255,255);
$secondColorBlack: rgb(33,33,33);
$lightBlue : #80BFBC;
$blue : #098491;

/*-----------------------------------------------Contact-------------------------------------------------*/

#contact-wrapper {
    position: relative;
    top: 10vh;
    left: 10vw;
    height: 80vh;
    width: 80vw;
}

#contact-title-wrapper {
    position: absolute;
    top: 3vh;
    left: 1.5vw;
}

#contact-title {
    position: relative;
    font-size: 5vw;
    font-family: reross-quadratic, sans-serif;
    font-style: normal;
    font-weight: 400;
}

#contact-wrapper-part-one {
    position: absolute;
    top: 32.5%;
    left: 1.5%;
    height: 35%;
    width: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.contact-info {
    position: relative;
    height: 10vh;
    width: 15vw;
}

.mailTo {
    text-decoration: none;
}

.contact-title-label {
    font-size: 1.8vw;
    font-weight: bold;
    font-family: Gill Sans mt Condensed, serif;
    color: $secondColorBlack;
}

.contact-text {
    position: relative;
    top: 1.2vh;
    font-size: 1.3vw;
    font-family: Gill Sans mt Condensed, serif;
    color: $lightBlue;
}

#contact-socialMedia-image {
    top: 1.2vh;
    position: relative;
    height: 3vh;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-image {
    position: relative;
    height: 100%;
    object-fit: cover;
}

#contact-wrapper-part-two {
    position: absolute;
    top: 10%;
    right: 1.5%;
    height: 80%;
    width: 47%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#contact-label-name-wrapper {
    position: relative;
    height: 7vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#contact-title-label-name {
    position: relative;
    left: 15.65vw;
}

#contact-wrapper-input-name {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-input-name {
    position: relative;
    height: 5vh;
    width: 18vw;
    border: none;
    border-bottom: 0.6vh solid $lightBlue;
    outline: none;
    font-size: 1.3vw;
    font-family: Gill Sans mt Condensed, serif;

    &::placeholder {
        font-size: 1.3vw;
        font-family: Gill Sans mt Condensed, serif;
    }

    &:focus {
        font-size: 1.3vw;
        color: #212121;
        font-family: Gill Sans mt Condensed, serif;
    }
}

#contact-label-email-wrapper {
    position: relative;
}

#contact-input-email {
    position: relative;
    height: 5vh;
    width: 100%;
    border: none;
    border-bottom: 0.6vh solid $lightBlue;
    outline: none;
    font-size: 1.3vw;
    font-family: Gill Sans mt Condensed, serif;

    &::placeholder {
        font-size: 1.3vw;
        font-family: Gill Sans mt Condensed, serif;
    }

    &:focus {
        font-size: 1.3vw;
        color: #212121;
        font-family: Gill Sans mt Condensed, serif;
    }
}

#contact-input-text {
    position: relative;
    height: 15vh;
    width: 100%;
    border: none;
    border-bottom: 0.6vh solid $lightBlue;
    outline: none;
    word-break: break-word;
    white-space: normal;
    resize: none;
    padding-top: 1.5vh;
    font-size: 1vw;
    font-family: "Gill Sans MT Condensed", serif;

    &::placeholder {
        font-size: 1vw;
        font-family: Gill Sans mt Condensed, serif;
    }

    &:focus {
        font-size: 1vw;
        color: #212121;
        font-family: Gill Sans mt Condensed, serif;
    }

    &::-webkit-scrollbar {
        color: transparent;
    }
}

#contact-input-send-wrapper {
    position: relative;
    left: 24.15vw;
    height: 6.5vh;
    width: 13.5vw;
    border-radius: 10vh;
    background: linear-gradient(100deg, $blue, $lightBlue);
}

.contact-input-send {
    position: relative;
    top: 7%;
    left: 2.25%;
    height: 84%;
    width: 95%;
    background-color: $firstColorWhite;
    border: none;
    border-radius: 10vh;
    outline: none;
    font-size: 1.75vw;
    font-family: Gill Sans mt Condensed, serif;
    color: #098491;
    transition: 0.6s;
    z-index: 1;

    &:focus {
        outline: none;
    }

    &:hover {
        background-color: transparent;
        transition: all 0.5s ease-in-out;
        color: $firstColorWhite;
    }

}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    transition: background-color 5000s;
    -webkit-text-fill-color: $secondColorBlack !important;
    font-family: Gill Sans mt Condensed, serif;
    font-size: 1vw;
    background-color: $firstColorWhite;
}